<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl80HjekKpUa/fbxAtKL7HwAAAAACAAAAAAAQZgAAAAEAACAAAACyU6p/im+bhoc1/eB5mbZH3Y58I9zFA4O4i7WY4oszRgAAAAAOgAAAAAIAACAAAABXtgSk/GMszzKcIrYbu5ZnehznUzbEqU5x8jHXpm6MMDAAAACHxsAgK7HPtAIoJ3wqu4jB94WYKnUP3OHyeAsy+f33vUJT3jUaLbcX+Ba2vPSgrLhAAAAAyeJINwl4rR2dwNbXe5+GrfLRibJCwGHLfwnb6DCx9K5vqS5INfx7Sgf1YDsmgHB8hE9xY0Z3TWV5+nLOaV3n9g==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl80HjekKpUa/fbxAtKL7HwAAAAACAAAAAAAQZgAAAAEAACAAAABaPF185zdHxIrrDTe7n8Y36+cbbZeOP7rwBQ0BctgdDgAAAAAOgAAAAAIAACAAAABDwFTyRtnW52GBT2xgjyp1nRWx6r/BLXp7GwGC1geOHDAAAACqv26kGnKuePFx0yvCxOQ2d4qQtK4Sf9VvKrrpybvRGDIL4F1sxJKayAE+GW20sfBAAAAANT7zNFJc41ySlHekw7xMdjckXYygBFXTi1+ncd/6BXCxNRx14tSdGidZDhPcH8eHKHbAUIinS5CPfMZFy6QR1g==" />
  </apikeys>
</configuration>